.movie_popup__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(14, 14, 14, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.card {
  width: 80%;
  height: 700px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.card-body {
  width: 55%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  color: #bdb8b8;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  & > p {
    font-size: 16px;
    margin-bottom: 1rem;
  }
}

.movie_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.movie-figure {
  width: 45%;
  height: 100%;
  position: relative;

  &::after {
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(1, 0, 18, 0.9) 10%, rgba(1, 0, 18, 0.7) 25%, transparent 100%);
    height: 100%;
    width: 55%;
  }
}

.movie-image {
  width: 100%;
  height: 100%;
}

.card-title {
  color: #e8e8e8;
  font-size: 22px;
  letter-spacing: 5px;
}

.genres {
  display: flex;
  list-style: none;
  gap: 1rem;

  & li {
    font-size: 13px;
    color: #f1c40f;
  }
}

.btn-outlined {
  text-decoration-line: none;
  font-style: normal;
  background: transparent;
  color: #f1c40f;
  border: 2px solid #f1c40f;
  padding: 7px 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background: #f1c40f;
    color: #000;
  }
}

.fa-heart {
  background-color: transparent;
  color: #e8e8e8;
  transition: all 0.2s ease-in-out;
  font-size: 26px;
  padding: 0.5rem;
  border-radius: 1.625rem;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: #f1c40f;
  }
}

.movie__comments {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment_cards__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding: 1rem;
  background-color: #242526;
  border-radius: 10px;

  & > p:first-child {
    font-size: 16px;
  }

  & > p:last-child {
    font-size: 13.5px;
  }
}

.form__comment {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > input,
  button {
    width: 40%;
  }

  & > input {
    background-color: rgb(75, 75, 75);
    font-family: "Poppins", sans-serif;
    outline: none;
    color: #e8e8e8;
    border: none;
    padding: 0.7rem 0.5rem;
    border-radius: 4px;
  }

  & > textarea {
    background-color: rgb(75, 75, 75);
    border: none;
    color: #e8e8e8;
    resize: none;
    font-size: 14px;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    height: 180px;
    width: 100%;
  }

  & > input:focus,
  textarea:focus {
    outline: none;
  }

  & > button {
    font-family: "Poppins", sans-serif;
    background-color: #af9012;
    color: white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s ease-in;

    &:hover {
      background-color: #cca819;
    }
  }
}

form {
  width: 100%;
}

#close-popup-icon {
  position: absolute;
  color: rgb(245, 245, 245);
  font-size: 33px;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1368px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  #close-popup-icon {
    position: absolute;
    color: rgb(245, 245, 245);
    font-size: 33px;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 3;
  }

  .card {
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .card-body {
    width: 100%;
    overflow-x: initial;
    overflow-y: initial;
  }

  .movie-figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      background: none;
    }

    & .movie-image {
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    height: 700px;
  }

  .form__comment {
    & > input,
    button {
      width: 100%;
    }
  }
}
